*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    /* background-color: aqua; */
}

.nav_bac{
    background-color: white !important;
    padding-top: 16px;
    padding-bottom: 16px;
}

.signIn_style{
    text-decoration: none;
    color: rgb(166, 161, 161);
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 8px;
    font-weight: bold;
}
.signIn_style:hover{
    color: black;
}
.nav_btn_bac_color{
    background-color: #ea4c89;
    color: white;
}


.li_style{
    list-style-type: none;
}

.icon_nav_style{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.logo_style{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header_back{
    background: #F9F8FD;;
}
.author_text{
    /* margin-left: 350px; */
    text-align: right;
    /* padding: 26px !important; */
}
.author_text a{
    color: black;
}
.btn{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
}
.filter_btn{
    padding: 2px 12px;
    border: 2px solid rgb(182, 173, 173);
}
.active_color{
    background-color: rgba(104, 98, 98, 0.379) !important;
    border-radius: 5px;
    color: black;
    /* font-weight: bold; */
}

.comon_color{
    color: black !important;
}
.sec_half{
    display: inline-block;
    text-align: end;   
    margin-left: 38px;
}
.first_half{
    display: inline-block;
    text-align: start;
}
.span_text_bac{
   background-color: rgb(149, 140, 140);
   border-radius: 8px;
   padding: 3px;
   padding-top: 0;
}
.span_text_bac:hover{
    background-color: rgb(224, 52, 69);
}

.span_text_bac a{
    text-decoration: none;
    color: white;
}
.sign_up_style{
    background-color: #ea4c89;
    color: white;
    padding: 8px 45px;
}

.sign_in_style{
    text-decoration: none;
    margin-left: 28px;
    color: #ea4c89;
}
.list_style{
    list-style-type: none;
    
}
.text_anchor{
    text-decoration: none;
    color: black;
}
.text_anchor:hover{
    color: black;
}
.logo_footer a{
    font-size: 25px;
    text-decoration: none;
    font-size: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #ea4c89;
}
.social a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.sub_nav .li_style {
   border: 2px solid rgb(229, 222, 222);
   border-radius: 8px;
   display: inline-block;
   vertical-align: middle;
   padding: 8px 12px;
}


.footer_style{
    background: rgb(245, 241, 241);
}


.nav_bac .dropdown:hover .dropdown-menu{
    display: block !important;
}
.filter_nav .nav-link{
    display: inline !important;
    padding:  6px 12px;
}



.scrolltop{
    text-align:right;
}
#myBtn{
    
    display:none;
    position:fixed;
    bottom:30px;
    right:22px;
    z-index: 99;
    border:none;
    outline:none;
    background-color:red;
    color:white;
    cursor:pointer;
    padding:10px;
    border-radius:12px;

}
#myBtn:hover{
    background:#606060;
}


@media screen and (min-width: 760px) {


.nav_bac .dropdown-toggle::after{
    content: none;
}

}

@media screen and (max-width: 550px) {


    .author_text{
        text-align: center;
    }
    .sign_up_btn{
        text-align: center;
    }
    .header_sec_style{
        text-align: center;
        padding-top: 15px;
    }
    .nav_bac .me-auto{
        text-align: center;
    }
    .nav_bac .search_form_input{
        text-align: center;
    }
    
    }




    
